glass_background_dark {
 background-color: rgba(0, 0, 0, 0.6);
 backdrop-filter: blur(21.5px);
 -webkit-backdrop-filter: blur(21.5px);
 border: 1px solid rgba(255, 255, 255, 0.18);
 box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
 -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
 border-radius: 22px;
 -webkit-border-radius: 22px;
 color: rgb(255, 255, 255);
}